fastapi==0.115.0
uvicorn[standard]==0.30.6
drain3==0.9.11
aiomysql==0.2.0
sqlalchemy[asyncio]==2.0.35
redis==5.2.1
maxminddb-geolite2==2018.703
virustotal-python==1.1.0
prometheus-client==0.21.1
python-dotenv==1.0.1
celery==5.4.0
flower==2.0.1
flask
flask-cors
pydantic
langchain
langchain-groq
requests
flask-sqlalchemy
PyJWT
pymysql
passlib
python-multipart
aiohttp
