fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart

# Database / ORM / Drivers
sqlalchemy[asyncio]==2.0.35
aiomysql==0.2.0
pymysql
cryptography

# Task Queue (Celery)
celery==5.4.0
flower==2.0.1
redis==5.2.1

# AI / Agents
langchain
langchain-core
langchain-groq

# Threats / Logs / Metrics
drain3==0.9.11
virustotal-python==1.1.0
prometheus-client==0.21.1

# Utilities
python-dotenv==1.0.1
pydantic
PyJWT
passlib
aiohttp
